//
// Variables
// --------------------------------------------------
//## Default font size 14px
$font-size-base:          14px !default;

//== Weights
$font-weight-regular:	  400 !default;
$font-weight-bold:		  700 !default;
$font-weight-base:		  $font-weight-regular;

//== Families
$font-family-base:		  'Roboto' !default;


/*fixed setting padding and margin<<<-----*/
/*----------------------------------------*/
$offset-base:				5px !default;


$black:#212121;
$base:#454545;
$primary:#005D6A;
$primary-active:#023C3E;
$border:#eee;
$white:#fff;
$ash-white: #f2f2f2;

$danger:#E91E63;





//
