<div class="container">
  <form class="add-joke-form" [formGroup]="saveForm" autocomplete="off" (submit)="onSubmit()">
    <div class="card">
      <div class="card__header">
        <h3 *ngIf="!id">
          Add Joke
        </h3>
        <h3 *ngIf="id">
          Edit Joke
        </h3>
      </div>
      <div class="card-body">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let category of categoryList" [value]="category" >{{ category }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of typeList" [value]="type" >{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div> 
        <!-- <div>
          <mat-form-field appearance="fill">
            <mat-label>Flag</mat-label>
            <mat-checkbox >ddd</mat-checkbox>
          </mat-form-field>
        </div> -->
        <div>
          
            <mat-label>Flag</mat-label>
            <div>
              <div *ngFor="let flag of flagList; let i = index" formArrayName="flags" class="d-inline-block" >
                <label class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" name="dayIsSelected" [formControlName]="i" [value]="flag">
                  <span class="custom-control-label text-nowrap">{{ flag }}</span>
                </label>
              </div>
            </div>
       
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Content</mat-label>
            <textarea matInput  formControlName="content"></textarea>
          </mat-form-field>
        </div>
        <div *ngIf="typeControl.value == 'Two Part'">
          <mat-form-field class="example-full-width">
            <mat-label>Delivery</mat-label>
            <textarea matInput  formControlName="delivery"></textarea>
          </mat-form-field>
        </div>
        <div class="text-right">
          <button class="btn btn-primary mr15" type="submit">Save</button>
          <a class="btn btn-info mr-1"  [routerLink]="['/']">Joke List</a>
        </div>
      </div><!--/.card-body-->
    </div>
    
  </form>
</div>