
/*==============================Writting guide line======================================*/
/// ***most popular way to order CSS properties is grouped by type.***

////////////////////////////////////

html {
	font-size: $font-size-base;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

///applied all basic
body {
	font-size:14px;
	font-weight: $font-weight-base;
	font-family: $font-family-base;

}

//clear field cross button for browsers
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

//remove up and down arrow for number textbox
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance:textfield;
}

//order bulleting off
// ul { list-style: none; list-style-image: none;}
ul,ol{
	

}
a {
	text-decoration: none;
	outline: 0;
	transition-duration: .3s;
	transition-property: color;
	transition-timing-function: ease-out;
	&:hover,&:focus{
		text-decoration: none;
		outline: 0;
	}
}


img{
	max-width: 100%;
	max-height: 100%;
}
*{

  box-sizing: border-box;
}
.text-center{
	text-align: center;
}
.text-primary{
	color:$primary;
}

.text-danger{
	color:$danger;
}