<div class="container list-page-container pt-8">
  <div class="text-right">
    <button class="btn btn-primary mr15 mb-3" [routerLink]="['./add']">+ Add Joke</button>
    <button class="btn btn-info mr-1 mb-3" [routerLink]="['./play']"><i class="fa fa-play"></i> Play Jokes</button>
  </div>
  <app-datatable [dataSource]="jokeList" [columns]="displayedColumns" [flagList]="flagList"></app-datatable >
  <ng-template #content let-element='element'>
    <div class="list-main-text">
      <h5 class="d-inline-block"> {{element?.content}}</h5> - {{element?.category}}<br />
      {{element?.delivery}}
    </div>
  </ng-template>
  <ng-template #flags let-element='element'>
    <!-- Name Column -->
    <ng-container *ngFor="let flag of element?.flags; let j = index">
      <span *ngIf="flag">
        <img class="avater" style="width:40px;" [src]="'assets/images/'+flagList[j]+'.png'" alt="">
      </span>
    </ng-container>
  </ng-template>
  <ng-template #actions let-element='element'>
    <div class="table-actions">
      <a class="circle-button" [routerLink]="['./edit']" [queryParams]="{id:element.id}"><i
        class="fa fa-pencil"></i></a>
      <a class="circle-button" [routerLink]="['./play']" [queryParams]="{id:element.id}"><i
        class="fa fa-play"></i></a>
    </div>
  </ng-template>

</div>