<div class="container">
  <div class="play-joke-wrapper">
    <div class="play-joke card" >
      <div class="play-joke__header">
        <h5 class="play-joke__title">{{ joke?.content}}</h5>
        <div class="row">
          <div class="col-5">{{ joke?.category }}</div>
          <div class="col-7 text-right">
            <div class="flag-list">
              <ng-container *ngFor="let flag of joke?.flags; let j = index">
                <img  class="flag-item" *ngIf="flag"  [src]="'assets/images/'+flagList[j]+'.png'" alt="">
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="play-joke__content"  *ngIf="joke?.type == 'Two Part'">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
      </div>
      <div class="play-joke__footer" *ngIf="joke?.type == 'Two Part'">
        {{ joke?.delivery }}
      </div>
    </div>
    <div class="text-right">
      <a class="btn btn-info mr-1 mt-3"  [routerLink]="['/']">Joke List</a>
      <button class="btn btn-primary mt-3" (click)="getRandomJoke()">Next</button>
    </div>
  </div>
  
</div>