
.play-joke-wrapper{
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.play-joke{
  &__header{
    background: $primary;
    color:#fff;
    padding:10px;
  }
  &__title{

  }
  &__content{
    font-size: 50px;
    text-align: center;
    color: $primary;
  }
  &__footer{
    border-top: 1px solid #ddd;
    padding:10px;
  }
}
.flag-list{
  .flag-item{
    width:40px;
    margin:2px;
  }
}
.btn-primary{
  background: $primary;
  &:hover,&:focus{
    background: $primary;
  }
}
.add-joke-form{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  .custom-control{
    margin-right: 20px;
  }
  .mat-form-field{
    display: block;
  }
}
.card{
  box-shadow: 0 25px 90px -35px rgba(0, 0, 0, 0.5);
  transition: box-shadow .2s,transform .2s;
  &__header{
    background-color: $primary;
    background-color: #005D6A;
    padding: 10px 20px;
    h3{
      margin-bottom: 0;
    }
    *{
      color: #fff;;
    }
  }
}
.custom-control-label::before, .custom-control-label::after{
  width:1.3rem;
  height: 1.3rem;
}
.custom-control-label{
  line-height: 1.8;
}
.btn{
  min-width: 100px;
}

.outer-wrappe{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.pt-8{
  padding-top:40px;
}
table.mat-table{
  width:100%;
  padding-top: 20px;;
}
.table-actions{
  .circle-button{
    border: 1px solid #005D6A;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    color: #005D6A;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    margin: 2px;
    padding-left: 3px;
    &:hover{
      background:$primary;
      color:#fff;
    }
  }
}
.list-main-text{
  padding-top: 7px;
  padding-bottom: 3px;
}
.mat-table thead{
  background:$primary;
  *{
    color:#fff;
  }
}
.list-page-container{
  max-width: 800px;;
}
.mr15{
  margin-right: 15px;
}